@import "../../styles/config";

.frontpage {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.search_section {
  max-width: 680px;
  margin-top: 120px;
  h1,
  span {
    font-family: "Berlingske Serif";
    font-size: 48px;
    line-height: 58px;
  }
  .search {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 100px;
    margin-right: 90px;
    .search_bar {
      height: 50px;
      flex-grow: 1;
    }
    .search_button {
      margin-left: 20px;
      width: 140px;
    }
  }
  .search {
    &.mobile {
      flex-direction: column;
      .search_button {
        margin-top: 20px;
        align-self: center;
      }
      .search_bar {
        width: 100%;
      }
    }
  }
}

.hero {
  flex-grow: 1;
  height: 100%;
  padding: 0 90px;
}
.carousel_section {
  margin-top: 280px;
}

.solid_ring {
  position: absolute;
  z-index: -1;
  right: -160px;
}

.transparent_ring {
  position: absolute;
  z-index: -2;
  right: 69px;
  top: 150px;
}

.plusses {
  position: absolute;
  z-index: -2;
  right: 145px;
  top: 475px;
}

.highlight {
  color: $primary-color;
  background: white;
  border-radius: 48px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.carousel {
  place-items: center;
}
@media (max-width: $screen-wide-smartphone) {
  .search_section {
    h1,
    .highlight {
      font-size: 36px;
    }
  }
}
@media (max-width: $screen-tablet-landscape) {
  .highlight {
    display: block;
    background: unset;
    padding: 0;
  }
}

@media (max-width: $screen-tablet-portrait) {
  .hero {
    padding: 0 40px;
  }
  .solid_ring {
    display: none;
  }
  .search_section {
    margin-top: 30px;
  }
}

@media (max-width: $screen-wide-smartphone) {
  h1,
  .highlight {
    font-size: 32px;
  }
}
