{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "assets": "./src/assets",
          "data": "./src/data",
          "components": "./src/components",
          "layouts": "./src/layouts",
          "styles": "./src/styles",
          "utils": "./src/utils"
        }
      }
    ]
  ]
}
