{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "assets": "./src/assets",
          "components": "./src/components",
          "layouts": "./src/layouts",
          "styles": "./src/styles"
        }
      }
    ]
  ]
}
