@import "../../styles/config";

.button {
  height: 48px;
  width: 202px;

  background-color: $primary-color;
  color: $color-white;

  font-display: swap;
  font-size: 16px;
  // font-family: Berlingske Sans;
  // font-weight: 600;
  line-height: 144%;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: $color-white;
    border: 1px solid $primary-color;
    color: $primary-color;

    transition: all 0.5s ease;
  }

  &:disabled {
    background-color: $color-white;
    border: 1px solid $color-brown;
    color: $color-brown;

    transition: all 0.5s ease;
  }
}
.pill {
  border-radius: 24px;
}
.inverted {
  background-color: $primary-color;
  color: $paragraph-inverted-color;
  &:hover {
    // TODO: add finger pointer
    background-color: $color-white;
    color: $paragraph-color;
  }
}
