@import "../../styles/config";

.button {
  height: 48px;
  width: 202px;

  background-color: $primary-color;
  color: $color-white;
  font-display: swap;
  font-size: 16px;
  font-weight: 600;
  padding: 0 20px;
  // box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  // border-radius: 5px;
  &:hover {
    background-color: $color-white;
    border: 1px solid $primary-color;
    color: $primary-color;

    transition: all 0.5s ease;
  }

  &:disabled {
    background-color: $color-white;
    border: 1px solid $color-brown;
    color: $color-brown;

    transition: all 0.5s ease;
  }
}
.pill {
  border-radius: 24px;
}
.inverted {
  background-color: $primary-color;
  color: $paragraph-inverted-color;
  &:hover {
    // TODO: add finger pointer
    background-color: $color-white;
    color: $paragraph-color;
  }
}
