@import "../../styles/config";

.textarea {
  :global {
    .MuiFormControl-root {
      width: 100%;
      border: 1px solid #b3b3b3;
    }
    // .MuiInput-underline:before {
    //   border-bottom: 0;
    // }
  }
}

.label {
  display: block;
  margin-bottom: 25px;
  color: black;
}
