@import "../../styles/config";

.textarea {
  :global {
    .MuiFormControl-root {
      width: 100%;
    }
    // .MuiInputBase-root {
    //   height: 50px;
    // }
  }
}

.label {
  display: block;
  margin-bottom: 25px;
  color: black;
}
