@import "../../styles/config";

.textarea {
  :global {
    .MuiFormControl-root {
      width: 100%;
      border: 1px solid $color-grey-30;
    }

    /* Override MUI focus */
    .MuiInputBase-input:focus {
      outline: 4px auto rgba(0, 103, 244, 0.247) !important;
      outline-offset: -2px !important;
    }
    .MuiInput-underline:before {
      border-bottom: none !important;
    }
    .MuiInput-underline:after {
      border-bottom: none !important;
    }
    /**/

    .MuiInputBase-multiline {
      padding: 0px;
    }
    .MuiInputBase-inputMultiline {
      padding: 10px;
    }
  }
}

.label {
  display: block;
  margin-bottom: 25px;
  color: black;
}
