@import "../../styles/config";

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;

  .main_content {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
  }
}
