@import "../../styles/config";

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .main_content {
    display: grid;
    place-items: center;
    height: 100%;
    padding: 0px 96px;
  }
}

@media (max-width: 1440px) {
  .main_content {
    padding: 0px 0px !important;
  }
}
