@import "./fonts";
@import "./colors.module";

$font-size-paragraph: 16px;

$screen-smartphone: 320px;
$screen-wide-smartphone: 415px;
$screen-tablet-portrait: 768px;
$screen-tablet-landscape: 992px;
$screen-desktop: 1024px;
$screen-desktop-large: 120px;
