@import "./fonts";
@import "./colors.module";

$unit: 8px;

$font-size-paragraph: 16px;

$screen-smartphone-small: 320px;
$screen-smartphone: 360px;
$screen-smartphone-wide: 415px; // use this
$screen-tablet-portrait: 768px;
$screen-tablet-landscape: 992px;
$screen-desktop: 1024px;
$screen-desktop-large: 1280px;
