@import "../../styles/config";

.select {
  :global {
    .MuiFormControl-root {
      width: 100%;
      border: 1px solid $color-grey-30;
    }
    .MuiInputBase-root {
      height: 50px;
    }
    .MuiSelect-select:focus {
      height: 100%;
    }
    .MuiInputBase-input {
      padding: 0;
      text-indent: 20px;
    }
  }
}

.label {
  display: block;
  margin-bottom: 20px;
  color: black;
  // font-size: 32px;
}

.hidden_label {
  height: 43px;
}
