@import "../../styles/config";

.card {
  display: flex;
  height: 250px;
  width: 300px;

  overflow: visible !important;
  background-color: $color-paper-white;
  box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.1) !important;
}

.card_content {
  padding: 40px 16px 16px !important;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edit_mode {
  .card_content {
    cursor: grab;
  }
}

.title_description {
  min-height: 34px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
  text-shadow: 0px 16px 30px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.description {
  flex-grow: 1;
  font-size: 14px;
  line-height: 17px;
  overflow: hidden;
  position: relative;
  max-height: 101px;

  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.length {
  display: flex;
  flex-direction: row;
  span {
    font-size: 14px;
    padding-right: 12px;
  }
}

.clock_icon {
  padding-right: 15px;
  path {
    fill: $primary-color;
  }
}

.buttons {
  display: flex;
  position: relative;

  .button {
    z-index: 1;
    top: -16px;
    position: absolute;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    border: none;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    }
  }

  .left {
    background: $color-grey-30;
    left: 170px;
  }
  .center {
    background: $color-orange;
    left: 210px;
  }
  .center_secondary {
    background: $color-green;
  }
  .right {
    background: #eb5757;
    left: 250px;
  }
  .button_icon {
    margin-top: 4px;
  }
}
.see_more {
  //TODO:
  padding-left: 100x;
}

.publish_status {
  display: flex;
  position: absolute;
  top: 15px;
  font-size: 10px;
}

.publish_status::before {
  height: 9px;
  width: 9px;
  margin-right: 9px;
  background-color: $color-orange;
  border-radius: 50%;
  display: inline-block;
  content: "";
}
.publish_status.published::before {
  background-color: $color-green;
}

@media only screen and (max-width: $screen-smartphone) {
  .card {
    width: 240px;
  }
}
// mobile
@media only screen and (max-width: $screen-smartphone-wide) {
  .buttons {
    .left {
      left: 120px;
    }
    .center {
      left: 160px;
    }
    .right {
      left: 200px;
    }
  }
}
