@import "../../styles/config";

.card {
  display: flex;
  justify-content: center;
  margin: auto;

  height: 250px;
  width: 300px;

  // border: solid 1px $color-red;
  background-color: $color-paper-white;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1) !important;
  // box-shadow: 0 2px 4px rgba(#000, 0.2);

  // tablet
  @media only screen and (max-width: 1024px) {
  }

  // mobile
  @media only screen and (max-width: 500px) {
    width: 90%;
  }
}

.card_area {
  height: 100%;
}

.card_content {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.edit_mode {
  .card_content {
    cursor: grab;
  }
}
