@import "../../styles/config";

.modal_content {
  position: absolute;

  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  height: 100%;

  background: $color-white;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  @media (max-width: $screen-tablet-portrait) {
    width: 400px;
  }
}

.user_information {
  height: $screen-tablet-portrait;
  width: $screen-tablet-landscape;
  @media screen and (max-width: $screen-tablet-landscape) {
    height: 100%;
  }
}

// .modal_content,
// .user_information {
//   @media only screen and (max-width: $screen-tablet-portrait),
//     screen and (max-height: 800px) {
//     height: 100%;
//     width: 100%;
//     display: flex;
//     :global {
//       .input_line {
//         align-items: stretch;
//       }
//     }
//   }
// }

.button_clear {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  cursor: pointer;
  float: right;
  top: 40px;
  width: 25px;
  height: 25px;
  border: none;
  color: white;
  position: absolute;
  right: 40px;
  background: none;
  border: none;

  &:focus,
  &:active,
  &:hover,
  &:active {
    border: none;
    background-color: white;
    color: white;
  }
}

.close_icon {
  // fill: black;
}

.new_modal {
  z-index: 1000;
  div[data-reach-dialog-content] {
    margin: 10vh auto;
    position: relative;
    border: 0 !important;
    @media screen and (max-width: $screen-tablet-landscape) {
      width: 80%;
    }
    @media screen and (max-width: $screen-tablet-portrait) {
      width: 100%;
      margin: 2vh auto;
    }
  }
}
