@import "../../styles/config";

.modal {
  background-color: red;
}

.modal_content {
  position: absolute;

  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  height: 100%;
  height: 650px;
  width: 800px;

  background: $color-white;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

.user_information {
  height: $screen-tablet-portrait;
  width: $screen-tablet-landscape;
  @media screen and (max-width: $screen-tablet-landscape) {
    height: 100%;
  }
}

.modal_content,
.user_information {
  @media only screen and (max-width: $screen-tablet-portrait),
    screen and (max-height: 800px) {
    height: 100%;
    width: 100%;
    display: flex;
    :global {
      .input_line {
        align-items: stretch;
      }
    }
  }
}

.button_clear {
  z-index: 99999;
  cursor: pointer;
  float: right;
  top: 40px;
  width: 25px;
  height: 0px;
  border: none;
  color: white;
  position: absolute;
  right: 40px;

  &:hover,
  &:active {
    border: none;
    background-color: white;
    color: white;
  }
}

.close_icon {
  // fill: black;
}
