@import "../../styles/config";

.searchbar {
  position: relative;
  height: 46px;
  line-height: 0px;
  // box-sizing: border-box;

  input {
    border: none;
    border-bottom: 1px solid black;
  }

  .search_icon {
    position: absolute;
    border: none;
    margin-top: 2px;
    margin-left: 4px;
    top: 0;
    box-sizing: content-box;
    background-color: white;
    path {
      fill: $primary-color;
      fill-opacity: 1;
    }

    .clear_icon {
      display: flex;
      align-content: center;
      justify-content: center;
      height: 100%;
    }
  }
}

.results {
  padding: 20px 0;
}
