@import "../../styles/config";

.searchbar {
  position: relative;
  height: 46px;
  line-height: 0px;
  // box-sizing: border-box;

  input {
    border: none;
    border-bottom: 1px solid black;
    padding-left: 50px;
  }
  .input_wrapper {
    position: initial;
    padding: 0px;
    margin-top: -6px;
  }

  .search_icon {
    position: absolute;
    border: none;
    margin-top: 10px;
    margin-left: 4px;
    top: 0;
    box-sizing: content-box;
    background-color: white;
    path {
      fill: $primary-color;
      fill-opacity: 1;
    }

    .clear_icon {
      display: flex;
      align-content: center;
      justify-content: center;
      height: 100%;
      align-items: center;
    }
  }
}

.results {
  padding: 20px 0;
}

@media (max-width: $screen-wide-smartphone) {
  .searchbar input {
    &::placeholder {
      font-size: 20px;
    }
    padding-left: 20px;
  }
  .search_icon {
    display: none;
  }
}
