@import "../../styles/config";

.user_root {
  // overflow-x: hidden;
  .user_main_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    padding-right: 100px;
    padding-left: 245px;
    padding-top: 50px;
    margin-bottom: 100px;
  }
}

@media (max-width: $screen-desktop-large) {
  .user_root .user_main_content {
    padding-right: 20px;
    padding-left: 70px;
  }
}
