@import "../../styles/config";

.user_root {
  // display: flex;
  // flex-direction: row;
  // width: 100%;
  overflow: hidden;
  .user_main_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    padding-right: 100px;
    padding-left: 245px;
    margin-bottom: 100px;
  }
}

@media (max-width: $screen-desktop) {
  .user_root .user_main_content {
    padding-right: 0px;
  }
}

@media (max-width: $screen-tablet-portrait) {
  .user_root .user_main_content {
    padding-left: 70px;
  }
}
