@import "../../styles/config";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: $color-white;
  padding: 50px 90px;

  * {
    font-family: "Berlingske Sans Bold";
  }
}

.logo_area {
  flex-grow: 1;
}

.login {
  margin-left: 40px;
}
