@import "../../styles/config";

.header {
  padding: 50px 90px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;

  background-color: $color-white;

  * {
    font-family: "Berlingske Sans Bold";
  }
}
.navigation {
  display: block;
  .tab {
    display: inline-blocK;
  }
  @media (max-width: 1024px) {
    .tab {
      margin: 0 0px;
    }
  }
}
.logo_area {
  flex-grow: 1;
}

.login {
  width: 166px;
  margin-left: 40px;
  @media (max-width: 782px) {
    margin-left: 0;
  }
  @media (max-width: 735px) {
    width: 110px;
  }
}

.modal_content {
  background: white;
  height: 100vh;
}

.close_button {
  background-color: unset;
  border: none;
  padding: 0;
  margin: 0;
  div {
    height: 50px;
    width: 50px;

    color: white;
    position: relative;
  }

  div:after {
    top: 0;
    bottom: 0;
    left: 0;
    color: $color-red;
    right: 0;
    content: "\D7";
    font-size: 50px;
    line-height: 50px;
    text-align: center;
  }
}
.mobile_navigation {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  line-height: 48px;
  a {
    font-size: 32px;
    color: $color-red;
    text-decoration: none;
  }
}
@media (max-width: $screen-tablet-portrait) {
  .header {
    padding: 50px 40px;
  }
}

@media (max-width: $screen-wide-smartphone) {
  .header {
    padding: 30px 40px;
  }
}
