@import "../../styles/config";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: $color-white;
  padding: 50px 90px;

  * {
    font-family: "Berlingske Sans Bold";
  }
}
.navigation {
  display: block;
  .tab {
    display: inline-blocK;
    // width: 44px;
  }
  @media (max-width: 1024px) {
    .tab {
      margin: 0 0px;
    }
  }
}
.logo_area {
  flex-grow: 1;
}

.login {
  width: 166px;
  margin-left: 40px;
  @media (max-width: 782px) {
    margin-left: 0;
  }
  @media (max-width: 735px) {
    width: 110px;
  }
}

.modal_content {
  background: white;
  height: 100vh;
}
