@import "../../styles/config";

.row {
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
  flex-wrap: wrap;
  > * {
    margin-right: 15px;
    flex-basis: 200px;
  }
}

.wrapper {
  // padding: 0px 120px 80px;
}

.heading {
  font-size: 24px;
  font-family: "Berlingske Sans Bold";
  display: block;
  margin-bottom: 30px;
}
