@import "../../styles/config";

.root {
  background-color: $secondary-black-color;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 42px 140px;
  bottom: 0;

  p {
    margin-left: 18px;
    margin-right: 40px;
    font-family: "Berlingske Sans Bold";
    font-size: 18px;
    color: white;
  }
}

.logo {
  flex-grow: 1;
  padding-right: 80px;
}

.row {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  > * {
    padding-bottom: 15px;
  }
}

@media (max-width: $screen-tablet-portrait) {
  .footer {
    padding: 42px 40px;
  }
}
