.root {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  width: 960px;

  @media (max-width: 960px) {
    width: 640px;
  }

  @media (max-width: 710px) {
    width: 90%;
  }

  .search_bar {
    height: 200px;
  }
}
