@import "../../styles/config";

.search_container_root {
  width: 100%;
  display: inline-block;
  place-self: stretch;
  padding-top: 80px;
}
.search_bar {
  height: 120px;
  padding-right: 96px;
  min-width: 250px;
}

@media (max-width: $screen-tablet-portrait) {
  .search_bar {
    padding-right: 20px;
  }
}
