.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 960px;

  @media (max-width: 960px) {
    width: 620px;
  }

  @media (max-width: 620px) {
    width: 100%;
  }
  // width: 620px;
  // margin: auto;

  // background-color: red;

  .search_bar {
    height: 200px;
  }
}
