@import "../../styles/config";

.modalcontent {
  padding: 40px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  overflow-y: scroll;
  justify-content: space-between;
}
.header {
  padding-bottom: 10px;
  font-size: 24px;
  font-family: "Berlingske Sans Bold";
}

.input_line,
.input_rows {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: $screen-tablet-portrait) {
    flex-direction: column;

    .dropdown_line {
      flex-basis: 100%;

      padding-left: 0;
    }
  }
}
.input_line {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  @media only screen and (max-width: 765px) {
    flex-direction: column;
  }
}

.input_rows {
  flex-direction: column;
}

.dropdown_line {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex: 0 0 300px;
}

.length_dropdown {
  flex: 1 0 105px;
}

.footer {
  padding-top: 30px;
  position: relative;
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.textarea {
  flex-grow: 1;
  padding: 40px 16px;
}

.error_message {
  position: absolute;
  color: red; // TODO:
  top: 15px;
}

.footer_upper_line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_text_area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.user_info_timestamp {
  margin-left: auto;
}

.experience_timestamp {
  margin: auto;
}

.button_line {
  margin: 32px 0;
}
