@import "../../styles/config";

.modalcontent {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.header {
  padding-bottom: 35px;
}

.input_line,
.input_rows {
  :global(.input_wrapper) {
    flex: 0 0 48%;
    padding-top: 45px;
  }
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 765px) {
    flex-direction: column;
    .dropdown_line {
      padding-top: 25px;
    }
  }

  input {
    color: #b3b3b3;
    font-size: 16px;
    padding: 10px;
  }
}
.input_line {
  flex-direction: row;
  @media only screen and (max-width: 765px) {
    flex-direction: column;
  }
}

.input_rows {
  flex-direction: column;
}

.dropdown_line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 48%;
  padding-top: 45px;
}

.length_dropdown {
  flex: 0 0 48%;
}

.button_line {
  padding-top: 45px;
  display: flex;
  flex: 0 0 50%;
  flex-direction: row;
  justify-content: flex-end;
}
.textarea {
  padding-top: 20px;
}
